* text=auto
*.sh text eol=lf
*.inc text eol=lf
*.ini text eol=lf
*.gptk text eol=lf
*.py text eol=lf
*.java text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.png binary
*.jar binary
*.zip binary
*.bz2 binary
LICENSE text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
